In [1]:
import pandas as pd
import numpy as np

In [2]:
arrays=[
    ['bar','bar','baz','baz','foo','foo','qox','qox'],
    ['satu','dua','satu','dua','satu','dua','satu','dua'],
]
tuples=list(zip(*arrays))
iterables=[
    ['bar','foo','baz','cox'],
    ['satu','dua']
]
index=pd.MultiIndex.from_product(iterables=iterables, names=['Satu', 'Dua'])
print(index)
# index=pd.MultiIndex.from_tuples(tuples, names=['First','Second'])
# s=pd.Series(np.random.randn(8), col=index)
df=pd.DataFrame(np.random.randn(32).reshape(4,8), columns=index)
# s
print(df)
print("test ====>", index.get_level_values(0))
print("level 2 ====>", index.get_level_values(1))

df['bar']['satu']

MultiIndex([('bar', 'satu'),
            ('bar',  'dua'),
            ('foo', 'satu'),
            ('foo',  'dua'),
            ('baz', 'satu'),
            ('baz',  'dua'),
            ('cox', 'satu'),
            ('cox',  'dua')],
           names=['Satu', 'Dua'])
Satu       bar                 foo                 baz                 cox  \
Dua       satu       dua      satu       dua      satu       dua      satu
0     0.516450 -0.723703 -0.054449  1.967685  0.336341 -1.210089  1.634466
1    -0.212780 -0.549511  1.593639 -0.286167  0.264718  0.167977  0.436685
2     1.022867  0.628993 -0.037374 -1.410775 -2.007047  1.098713 -1.072297
3    -0.609394 -0.092645 -0.378989 -0.073144 -1.690506 -0.786947 -0.222179

Satu
Dua        dua
0     0.638481
1     0.956790
2    -0.124339
3    -1.927186
test ====> Index(['bar', 'bar', 'foo', 'foo', 'baz', 'baz', 'cox', 'cox'], dtype='object', name='Satu')
level 2 ====> Index(['satu', 'dua', 'satu', 'dua', 'satu', 'dua', 'satu', 'dua'], dtype='object', name='Dua')

0    0.516450
1   -0.212780
2    1.022867
3   -0.609394
Name: satu, dtype: float64

In [3]:
indeks=[
    ('satu', 1),
    ('satu', 2),
    ('dua', 1),
    ('dua', 2)
]

sr=pd.Series(np.random.rand(4), index=indeks,name="Test")
mi=pd.MultiIndex.from_tuples(indeks)
# sr.reindex(mi)
# sr.index
sr.unstack()
# pd.__version__

AttributeError: 'Index' object has no attribute 'remove_unused_levels'

In [54]:
# header=pd.MultiIndex.from_product([['satu','dua'],[4,5,6]])
# header2=pd.MultiIndex.from_tuples([('satu',4),('satu',5),('satu',6)])
# print(header2)
# sr=pd.Series([1,2,3], index=header2)
# print(sr)

# # print(header)
index=[
    ('satu',2012),
    ('satu',2013),
    ('dua',2012),
    ('dua',2013)
]
ind=pd.MultiIndex.from_tuples(index)
print(ind)
sr=pd.Series([[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]], index=ind)
print(sr)
sr=sr.reindex(ind)
sr_new=sr.unstack()
print(sr_new)
sr_new.stack()

MultiIndex([('satu', 2012),
            ('satu', 2013),
            ( 'dua', 2012),
            ( 'dua', 2013)],
           )
satu  2012        [1, 2, 3, 4]
      2013        [5, 6, 7, 8]
dua   2012     [9, 10, 11, 12]
      2013    [13, 14, 15, 16]
dtype: object
                 2012              2013
dua   [9, 10, 11, 12]  [13, 14, 15, 16]
satu     [1, 2, 3, 4]      [5, 6, 7, 8]

dua   2012     [9, 10, 11, 12]
      2013    [13, 14, 15, 16]
satu  2012        [1, 2, 3, 4]
      2013        [5, 6, 7, 8]
dtype: object

In [68]:
ind
df=pd.DataFrame([[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]], index=ind)
df['tiga-dua'] = df[3]/df[2]
df['satu-nol']=df[1]/df[0]
df

            0   1   2   3  tiga-dua  satu-nol
satu 2012   1   2   3   4  1.333333  2.000000
     2013   5   6   7   8  1.142857  1.200000
dua  2012   9  10  11  12  1.090909  1.111111
     2013  13  14  15  16  1.066667  1.076923

In [71]:
array=np.random.rand(2,4)
array
baris=[
    ['a','a','b','b'],
    [2010,2011,2010,2011]
]
kolom=['satu','dua']
df=pd.DataFrame(array,,columns=baris)
df

SyntaxError: invalid syntax (<ipython-input-71-254d54e671db>, line 8)