## belajar pandas (3)

In [1]:
import numpy as np
import pandas as pd
import os
os.getcwd()

'/Users/fithrirosalia/Dropbox/JCDS/Module 02'

In [2]:
df=pd.read_csv('misc/filebaru.csv')
df=df.replace({
    "usia": "#"
}, np.NaN)
df

   nama usia       kota       gaji
0  andi   21    jakarta  5000000.0
1  budi   22    bandung  6000000.0
2  caca   23      bogor  7000000.0
3  euis   24   surabaya  7000000.0
4  deni   25   semarang  8000000.0
5     -   26      depok  7500000.0
6  miki   27  tangerang  7600000.0
7  kiki   28        n.a        NaN
8  kuku   30          0        NaN
9  meri  NaN    8700000        NaN

In [29]:
df=pd.DataFrame([
    {'nama':'Andi', 'nilai' :90},
    {'nama':'Andi', 'nilai' :91},
    {'nama':'Andi', 'nilai' :92},
    {'nama':'Budi', 'nilai' :90},
    {'nama':'Budi', 'nilai' :94},
    {'nama':'Budi', 'nilai' :95}
])
df
# df[df['nama'] == 'Budi']
dfGroup=df.groupby('nilai')
# dfGroup.get_group('Andi')
dfGroup.groups.keys()
# dfGroup.mean()
# dfGroup.max()
# dfGroup.get_group(90)

dict_keys([90, 91, 92, 94, 95])

In [4]:
df=pd.DataFrame([
    {'nama':'Andi', 'fisika' :90, 'biologi':80},
    {'nama':'Andi', 'fisika' :91,'biologi':81},
    {'nama':'Andi', 'fisika' :92,'biologi':82},
    {'nama':'Budi', 'fisika' :93,'biologi':83},
    {'nama':'Budi', 'fisika' :94,'biologi':84},
    {'nama':'Budi', 'fisika' :95,'biologi':95}
])
df
dfGroup=df.groupby('nama')
print(dfGroup)
print(dfGroup.get_group('Budi'))
print(dfGroup.groups.keys())
print(dfGroup.mean())
print(dfGroup.max())

print(df[df['nama'] == 'Andi']['fisika'].max())
print(dfGroup.get_group('Andi')['fisika'].max())

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x10cb15590>
   nama  fisika  biologi
3  Budi      93       83
4  Budi      94       84
5  Budi      95       95
dict_keys(['Andi', 'Budi'])
      fisika    biologi
nama
Andi    91.0  81.000000
Budi    94.0  87.333333
      fisika  biologi
nama
Andi      92       82
Budi      95       95
92
92

In [5]:
df1=pd.DataFrame([
    {'nama':'Andi', 'fisika' :90, 'biologi':80},
    {'nama':'Budi', 'fisika' :91,'biologi':81},
    {'nama':'Caca', 'fisika' :92,'biologi':82}
])
df2=pd.DataFrame([
    {'nama':'Doni', 'fisika' :90, 'biologi':80, 'matematika': 70},
    {'nama':'Ella', 'fisika' :91,'biologi':81},
    {'nama':'Andi', 'kimia' :92,'olah raga':82}
])

'''
df3=pd.DataFrame([
    {'nama':'Doni', 'kimia' :90, 'agama':80, 'mulok': 70},
    {'nama':'Ella', 'kimia' :91,'agama':81},
    {'nama':'Fira', 'kimia' :92,'agama':82}
])
'''

arr=[['mata pelajaran'],['fisika','biologi','matematika','olahraga']]
multindex=pd.MultiIndex.from_product(arr)
print(type(multindex))
print(multindex)

new_df=pd.concat([df1,df2,df3], ignore_index=True, sort=False, axis=0)
print("new_df\n", new_df)
new_df_merge=pd.merge(df1,df2, how='outer', on='nama')
new_df_merge

<class 'pandas.core.indexes.multi.MultiIndex'>
MultiIndex([('mata pelajaran',     'fisika'),
            ('mata pelajaran',    'biologi'),
            ('mata pelajaran', 'matematika'),
            ('mata pelajaran',   'olahraga')],
           )

NameError: name 'df3' is not defined

## Multiindex and pivot

In [0]:
kamus=[
    {'nomor':1, 'nama':'Andi', 'fisika': 90, 'biologi': 78},
    {'nomor':2, 'nama':'Andi', 'fisika': 91, 'biologi': 77},
    {'nomor':3, 'nama':'Andi', 'fisika': 92, 'biologi': 76},
    {'nomor':1, 'nama':'Budi', 'fisika': 93, 'biologi': 75},
    {'nomor':2, 'nama':'Budi', 'fisika': 95, 'biologi': 74},
    {'nomor':3, 'nama':'Budi', 'fisika': 90, 'biologi': 73},
]
df=pd.DataFrame(kamus)
print(df)
new_df1=df.pivot(index='nama', columns='nomor')
new_df2=df.pivot(index='nomor', columns='nama')
print("new_df1")
print(new_df1)
print("new_df2")
print(new_df2)
print(new_df.columns)
print('''


''')
new_df2['fisika','Andi'][1]

In [0]:
df=pd.DataFrame({
    # 'mata pelajaran': ['biologi', 'biologi', 'matematika', 'matematika'],
    # 'nama': ['andi', 'budi', 'andi', 'budi'],
    'nilai1': [90,91,72,71],
    'nilai2': [65,66,67,68]
}, index=[['biologi', 'biologi', 'matematika', 'matematika'],['andi', 'budi', 'andi', 'budi']])
df

In [0]:
df=pd.DataFrame({
    'mapel': ['biologi', 'biologi', 'biologi', 'fisika', 'fisika', 'fisika'],
    'test': [1,2,3,1,2,3],
    'Andi': [70,80,90,76,78,98],
    'Budi': [67,76,54,45,67,89]
})
print(df)
df=df.set_index(['test','mapel'])
print(df)
df=df.unstack() #=> biar si dataframe itu jadi single index
print(df)
print("\nswap level")
df=df.swaplevel(0,1,1).sort_index(1)
print(df)
df.columns

In [0]:
df1=pd.DataFrame([
    {'nama':'Andi', 'fisika' :90, 'biologi':80},
    {'nama':'Budi', 'fisika' :91,'biologi':81},
    {'nama':'Caca', 'fisika' :92,'biologi':82}
])
df2=pd.DataFrame([
    {'nama':'Doni', 'fisika' :90, 'biologi':80, 'matematika': 70},
    {'nama':'Ella', 'fisika' :91,'biologi':81},
    {'nama':'Andi', 'kimia' :92,'olah raga':82}
])
df=pd.concat([df1,df2], sort=False, keys=['satu', 'dua'])
print(df.index)
print(df.columns)
print(df)

# PR
1. data BPS, baca sebagai multi index, kerjain tugas2nya
2. pd.melt
3. pd.crosstab
4. pd.read_sql => membaca query
4. pd_read_sql_table => membaca table langsung

In [0]:
df=pd.read_excel('misc/bps_file.xlsx', header=[2,3], skipfooter=1, na_values=['-'])
print(df.columns)
# df.rename(columns={'Unnamed: 0_level_0':"", 'Unnamed: 0_level_1': "Provinsi"}, inplace=True)
# df.set_index(("","Provinsi"),inplace=True)
df.set_index(('Unnamed: 0_level_0', 'Unnamed: 0_level_1'), inplace=True)
# df.rename(index={'(, Provinsi)': 'Provinsi'}, inplace=True)
df.index.names=['Provinsi']
df.columns.names=['Area','Tahun']
# new_df=df[[('Tepi Laut', 2003),('Bukan Tepi Laut', 2003)]]
# new_df['total']=df[('Tepi Laut', 2003)] + df[('Bukan Tepi Laut', 2003)]
# new_df[new_df['total'] == new_df['total'].max()]
arr=[]
for i in df.columns:
    arr.append(i[1])
arr.sort()
arr=set(arr)
print("===========menampilakan desa terbanyak=================")
for j in arr:
    new_df=df[[('Tepi Laut', j),('Bukan Tepi Laut', j)]]
    new_df['total']=df[('Tepi Laut', j)] + df[('Bukan Tepi Laut', j)]
    print(new_df[new_df['total'] == new_df['total'].max()])
    print("")

print("===========menampilakan desa tersedikit=================")
for j in arr:
    new_df=df[[('Tepi Laut', j),('Bukan Tepi Laut', j)]]
    new_df['total']=df[('Tepi Laut', j)] + df[('Bukan Tepi Laut', j)]
    print(new_df[new_df['total'] == new_df['total'].min()])
    print("")


print('''



''')
df

In [0]:
df.describe()

In [0]:
df.info()

In [55]:
# df=pd.read_excel('misc/bps_file.xlsx', header=[2,3], skipfooter=1, na_values=['-'])
# df.set_index(('Unnamed: 0_level_0', 'Unnamed: 0_level_1'), inplace=True)
# df
df=pd.read_excel('misc/bps_file.xlsx', header=[2,3], skipfooter=1)
df=pd.DataFrame({
    "x":[1,2,3,4],
    "y":[5,6,7,8]
})
df

ValueError: Shape of passed values is (4, 2), indices imply (1, 2)