In [2]:
import pandas as pd
import numpy as np

## From CSV to DataFrame

In [3]:
import csv
import pandas as pd

csv_file = open('misc/appstore_games.csv', 'r')
reader=list(csv.reader(csv_file))
df = pd.DataFrame(reader[1:], columns=reader[0])
df.shape

(17007, 18)

## From XLSX to DataFrame

In [4]:
import xlrd

myxls=xlrd.open_workbook(filename='misc/appstore_games.xlsx')
sheet=myxls.sheet_by_name('appstore_games')
header=sheet.row_values(0)[:18]
# print(header)
data=[]
for i in range(1,sheet.nrows):
    data.append(sheet.row_values(i)[:18])

df2=pd.DataFrame(data, columns=header)
df2

,URL,ID,Name,Subtitle,Icon URL,Average User Rating,User Rating Count,Price,In-app Purchases,Description,Developer,Age Rating,Languages,Size,Primary Genre,Genres,Original Release Date,Current Version Release Date
0,https://apps.apple.com/us/app/sudoku/id284921427,2.849214e+08,Sudoku,,https://is2-ssl.mzstatic.com/image/thumb/Purpl...,4,3553,2.99,,"Join over 21,000,000 of our fans and download ...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",1.58536e+07,Games,"Games, Strategy, Puzzle",39640,42885
1,https://apps.apple.com/us/app/reversi/id284926400,2.849264e+08,Reversi,,https://is4-ssl.mzstatic.com/image/thumb/Purpl...,3.5,284,1.99,,"The classic game of Reversi, also known as Oth...",Kiss The Machine,4+,EN,1.2329e+07,Games,"Games, Strategy, Board",39640,43237
2,https://apps.apple.com/us/app/morocco/id284946595,2.849466e+08,Morocco,,https://is5-ssl.mzstatic.com/image/thumb/Purpl...,3,8376,0,,Play the classic strategy game Othello (also k...,Bayou Games,4+,EN,674816,Games,"Games, Board, Strategy",39640,42983
3,https://apps.apple.com/us/app/sudoku-free/id28...,2.857555e+08,Sudoku (Free),,https://is3-ssl.mzstatic.com/image/thumb/Purpl...,3.5,190394,0,,"Top 100 free app for over a year.\nRated ""Best...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",2.15521e+07,Games,"Games, Strategy, Puzzle",39652,42885
4,https://apps.apple.com/us/app/senet-deluxe/id2...,2.858312e+08,Senet Deluxe,,https://is1-ssl.mzstatic.com/image/thumb/Purpl...,3.5,28,2.99,,"""Senet Deluxe - The Ancient Game of Life and A...",RoGame Software,4+,"DA, NL, EN, FR, DE, EL, IT, JA, KO, NO, PT, RU...",3.4689e+07,Games,"Games, Strategy, Board, Education",39647,43303
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17002,https://apps.apple.com/us/app/stack-puzzle-ris...,1.474626e+09,Stack Puzzle : Rise Tower,"Blast the cubes, solve puzzle!",https://is5-ssl.mzstatic.com/image/thumb/Purpl...,,,0,,"The goal is very simple, move the square horiz...",Zhigang Pei,4+,EN,6.47956e+07,Games,"Games, Entertainment, Casual, Strategy",43676,43676
17003,https://apps.apple.com/us/app/eachother/id1474...,1.474919e+09,EachOther,,https://is2-ssl.mzstatic.com/image/thumb/Purpl...,,,0,,Collect a score while you play!!\n\nBy linking...,Sultan Shindi,4+,EN,1.10341e+08,Games,"Games, Family, Strategy",43678,43678
17004,https://apps.apple.com/us/app/rabbit-vs-tortoi...,1.474962e+09,Rabbit Vs Tortoise,,https://is2-ssl.mzstatic.com/image/thumb/Purpl...,,,0,,"""Rabbit Vs Tortoise is chess type cool simple ...",Vishal Baldha,4+,EN,2.32079e+07,Games,"Games, Strategy",43680,43680
17005,https://apps.apple.com/us/app/fatall/id1474963671,1.474964e+09,FaTaLL,Most fun game!!!,https://is1-ssl.mzstatic.com/image/thumb/Purpl...,,,0,"9.99, 49.99, 3.99",Upgrade your character and use your skills to ...,Tayrem Games,4+,EN,1.9675e+08,Games,"Games, Strategy, Action",43678,43678
17006,https://apps.apple.com/us/app/the-three-kingdo...,1.475077e+09,The Three Kingdoms :Bomb,,https://is1-ssl.mzstatic.com/image/thumb/Purpl...,,,0,,The protagonist uses the method of placing a b...,ming bo tang,4+,"EN, ZH",2.2953e+07,Games,"Games, Strategy, Puzzle",43679,43679

## From JSON to DataFrame

In [5]:
import json
json_file=open('misc/iris.json', 'r')
loader=json.load(json_file)
df3=pd.DataFrame(loader)
df3

     sepalLength  sepalWidth  petalLength  petalWidth    species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

## From MySQL to DataFrame

In [6]:
import mysql.connector
dbdetail={
    "user": "admin",
    "password": "admin",
    "host": "localhost",
    "database": "world"
}
mydb=mysql.connector.connect(**dbdetail)
cursor=mydb.cursor()
cursor.execute("describe country")
header=cursor.fetchall()
head=[]
for i in header:
    head.append(i[0])
# print(head)
cursor.execute("select * from country")
df4=cursor.fetchall()
pd_df=pd.DataFrame(df4,columns=head)
pd_df

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,JosÃ© Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,ShqipÃ«ria,Republic,Rexhep Mejdani,34.0,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,YEM,Yemen,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,YE
235,YUG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav KoÂštunica,1792.0,YU
236,ZAF,South Africa,Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW

## from MongoDB to DataFrame

In [8]:
import pymongo
myclient=pymongo.MongoClient("mongodb://localhost:27017")
mydb=myclient['resto']
mycol=mydb['resto']
data=list(mycol.find())
pd_df2=pd.DataFrame(data)
pd_df2

,_id,address,borough,cuisine,grades,name,restaurant_id
0,5ddc8eddf9d621c82c593187,"{'building': '469', 'coord': [-73.961704, 40.6...",Brooklyn,Hamburgers,"[{'date': 2014-12-30 00:00:00, 'grade': 'A', '...",Wendy'S,30112340
1,5ddc8eddf9d621c82c593188,"{'building': '2780', 'coord': [-73.98241999999...",Brooklyn,American,"[{'date': 2014-06-10 00:00:00, 'grade': 'A', '...",Riviera Caterer,40356018
2,5ddc8eddf9d621c82c593189,"{'building': '351', 'coord': [-73.985135599999...",Manhattan,Irish,"[{'date': 2014-09-06 00:00:00, 'grade': 'A', '...",Dj Reynolds Pub And Restaurant,30191841
3,5ddc8eddf9d621c82c59318a,"{'building': '7114', 'coord': [-73.9068506, 40...",Brooklyn,Delicatessen,"[{'date': 2014-05-29 00:00:00, 'grade': 'A', '...",Wilken'S Fine Food,40356483
4,5ddc8eddf9d621c82c59318b,"{'building': '2206', 'coord': [-74.1377286, 40...",Staten Island,Jewish/Kosher,"[{'date': 2014-10-06 00:00:00, 'grade': 'A', '...",Kosher Island,40356442
...,...,...,...,...,...,...,...
3767,5ddc8eddf9d621c82c59403e,"{'building': '1412', 'coord': [-73.9866522, 40...",Manhattan,Sandwiches/Salads/Mixed Buffet,"[{'date': 2014-04-16 00:00:00, 'grade': 'A', '...",Europa Cafe,40900039
3768,5ddc8eddf9d621c82c59403f,"{'building': '108', 'coord': [-73.983943799999...",Manhattan,Japanese,"[{'date': 2014-05-31 00:00:00, 'grade': 'A', '...",Sushi Zen,40899971
3769,5ddc8eddf9d621c82c594040,"{'building': '145', 'coord': [-73.986544, 40.7...",Manhattan,Café/Coffee/Tea,"[{'date': 2014-09-22 00:00:00, 'grade': 'A', '...",Starbucks Coffee,40899767
3770,5ddc8eddf9d621c82c594041,"{'building': '8405', 'coord': [-74.02521709999...",Brooklyn,Chinese,"[{'date': 2014-02-25 00:00:00, 'grade': 'A', '...",Chopstix Restaurant,40900694
3771,5ddc8eddf9d621c82c594042,"{'building': '451', 'coord': [-73.9462238, 40....",Brooklyn,Café/Coffee/Tea,"[{'date': 2014-04-14 00:00:00, 'grade': 'A', '...",Andy'S Cafeteria,40899816