In [7]:
import pandas as pd
pd.__version__

'0.25.2'

In [51]:
xls_file=pd.read_excel('misc/bps_file.xlsx', header=[2,3], skipfooter=1, na_values=['-'])
xls_file.rename(columns={"Unnamed: 0_level_0": "Provinsi", "Unnamed: 0_level_1":""}, inplace=True)
print(xls_file.columns)
xls_file[xls_file[('Tepi Laut', 2003)] == xls_file[('Tepi Laut', 2003)].max()][['Provinsi','Tepi Laut']]

MultiIndex([(       'Provinsi',   ''),
            (      'Tepi Laut', 2003),
            (      'Tepi Laut', 2005),
            (      'Tepi Laut', 2008),
            (      'Tepi Laut', 2011),
            (      'Tepi Laut', 2014),
            (      'Tepi Laut', 2018),
            ('Bukan Tepi Laut', 2003),
            ('Bukan Tepi Laut', 2005),
            ('Bukan Tepi Laut', 2008),
            ('Bukan Tepi Laut', 2011),
            ('Bukan Tepi Laut', 2014),
            ('Bukan Tepi Laut', 2018)],
           )

   Provinsi Tepi Laut
                 2003   2005   2008   2011 2014 2018
33    PAPUA     846.0  827.0  474.0  522.0  646  662