# pandas with mysql

In [2]:
import numpy as np
import pandas as pd
import mysql.connector

In [13]:
detail={
    "username":"admin",
    "password":"admin",
    "database":"pandas_test",
    "host":"localhost"
}
conn=mysql.connector.connect(**detail)
mysql_df=pd.read_sql("select * from employees", conn)
mysql_df.set_index('id', inplace=True)
mysql_df.loc[1]

nama                    andi
email    andi@purwadhika.com
waktu    2019-12-09 09:29:15
Name: 1, dtype: object

### cara kedua buat konek ke db

In [29]:
DBAddress="mysql://admin:admin@localhost:3306/pandas_test"
mysql_df=pd.read_sql("select * from employees",DBAddress, engine=mysql)
mysql_df

TypeError: read_sql() got an unexpected keyword argument 'engine'

In [24]:
!pip install python-mysqldb

ERROR: Could not find a version that satisfies the requirement python-mysqldb (from versions: none)
ERROR: No matching distribution found for python-mysqldb