# Test

In [1]:
import pandas as pd
pd.__version__
arr=[0.25,0.5,0.75,1.0]

index=['alfa','beta','charlie','dudi']
data=pd.Series(arr,index=index)
data

alfa       0.25
beta       0.50
charlie    0.75
dudi       1.00
dtype: float64

In [76]:
database=[
    {"nama":"Andi", "umur": 22, "kota":"Jakarta"},
    {"nama":"Budi", "umur": 23, "kota":"Bandung"},
    {"nama":"Caca", "umur": 24, "kota":"Surabaya"},
    {"nama":"Dino", "umur": 25, "kota":"Semarang", "Hobby":"Futsal"},
]
norm_dict={
    "nama": "Andi",
    "umur": 22,
    "kota": "Jakarta",
    "Status": "Menikah"

}
data=pd.DataFrame(database, index=['satu','dua','tiga','empat'])
print(data)
print("")
print(data['kota'])
data2=pd.Series(norm_dict)
print("")
print(data2)
print(dict(data2))
print(list(database[0].keys()))
test={
    "nama": ['Andi', 'Budi','Caca'],
    "usia": [21,22,23]
}
test2=pd.DataFrame(test, index=['a','b','c'])
test2

nama  umur      kota   Hobby
satu   Andi    22   Jakarta     NaN
dua    Budi    23   Bandung     NaN
tiga   Caca    24  Surabaya     NaN
empat  Dino    25  Semarang  Futsal

satu      Jakarta
dua       Bandung
tiga     Surabaya
empat    Semarang
Name: kota, dtype: object

nama         Andi
umur           22
kota      Jakarta
Status    Menikah
dtype: object
{'nama': 'Andi', 'umur': 22, 'kota': 'Jakarta', 'Status': 'Menikah'}
['nama', 'umur', 'kota']

   nama  usia
a  Andi    21
b  Budi    22
c  Caca    23

In [99]:
import numpy as np
data=np.array([[7,8,7],
 [3,5,8],
 [1,5,2],
 [3,4,6],
 [0,7,6]])
df=pd.DataFrame(data,columns=['foo','bar','zoo'])
df['foo'][0] = 'Andi'
print(df)
print("")
print(df.ndim)
print("")
print(df.shape)
print("")
print(df.index.dtype)
print(df.keys())
print(dict(df['foo']))
# print('Andi' in df['foo'])
print(df.index)

foo  bar  zoo
0  Andi    8    7
1     3    5    8
2     1    5    2
3     3    4    6
4     0    7    6

2

(5, 3)

int64
Index(['foo', 'bar', 'zoo'], dtype='object')
{0: 'Andi', 1: 3, 2: 1, 3: 3, 4: 0}
False
RangeIndex(start=0, stop=5, step=1)